h1,
h2,
h3,
h4,
h5 {
  font-family: "SpaceMono-Regular", monospace;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong {
  font-family: "SpaceMono-Bold", monospace;
}

.App {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Muli", Georgia, serif;
  margin: 0;
  padding: 0;
}

strong {
  font-family: "Muli-Bold", Georgia, serif;
}
