:root {
  --brightGray: hsl(0, 0%, 92%);
  --onyx: hsl(0, 0%, 22%);
  --ufoGreen: hsl(161, 100%, 28%);
  --languidLavender: hsl(249, 23%, 84%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html,
body,
#root,
.App {
  height: 100%;
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: local("SpaceMono-Regular"),
   url("../fonts/space-mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SpaceMono-Bold";
  src: local("SpaceMono-Bold"),
   url("../fonts/space-mono/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Muli";
  src: local("Muli"),
   url("../fonts/muli/Muli.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Muli-Bold";
  src: local("Muli-Bold"),
   url("../fonts/muli/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* removes page
title, link, number, and current date & time
when printing */
@media print {
  @page {
      margin-top: 0;
      margin-bottom: 0;
  }
  body {
      padding-top: 72px;
      padding-bottom: 72px ;
  }
}
