.CVForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1.5rem;
  width: 100%;
}

.CVForm section {
  border: 1px solid var(--ufoGreen);
  border-radius: 3px;
  margin: .5rem 0rem;
  max-width: calc(500px + 10vw);
  padding: 1rem;
  width: 100%;
}

.CVForm h2 {
  font-size: 1.17em;
}

.CVForm hr {
  color: var(--languidLavender);
  margin: .5rem 0;
}

.CVForm div {
  margin: 0 0 0 .5rem;
  display: flex;
  flex-direction: column;
}

.CVForm label {
  margin: .5rem 0;
}

.CVForm input {
  background-color: var(--languidLavender);
  border: 0;
  border-radius: 3px;
  caret-color: var(--onyx);
  color: var(--onyx);
  font-size: 1rem;
  margin: 0 .5rem;
  outline: none;
  padding: .25rem;
}

.CVForm small {
  margin: .5rem 0 .5rem .5rem;
}

.CVForm button {
  border: 1px solid var(--ufoGreen);
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin: .25rem;
  padding: .25rem;
}

.CVForm .delete {
  margin: .25rem .25rem .25rem auto;
}

.CVForm input:focus,
.CVForm button:focus-visible {
  outline: 2px solid var(--ufoGreen);
}

.CVForm button:hover {
  background-color: var(--ufoGreen);
  border: 1px solid var(--onyx);
  color: var(--brightGray);
}

.CVForm .delete:hover {
  background-color: var(--languidLavender);
  color: var(--onyx);
}
