.CVOverview {
  background-color: white;
  box-sizing: border-box;
  font-family: "Roboto-Regular", sans-serif;
}

.CVOverview * {
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.CVOverview h1,
.CVOverview h2,
.CVOverview h3 {
  font-family: "Roboto-Bold", sans-serif;
}

.CVOverview strong {
  font-family: "Roboto-Medium", sans-serif;
}

@media print {
  @page {
    width: 816px;
    /* removes page title, link, number, 
    and current date & time printing */
    margin-top: 0;
    margin-bottom: 0;
  }
  header,
  footer {
    display: none;
  }
  
}
